* {
  margin: 0;
  padding: 0;
}
body {
  padding: 30px;
  background: darkolivegreen;
  text-align: center;
  color: beige;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 1.5em;
  margin: 20px;
}
.container {
  margin: auto;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  grid-auto-rows: 40vh;
}
.img-1 {
  width: 100%;
  margin-left: 35px;
  height: 272px;
  background: url("/ND/img/Užduotis\ 1.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.img-2 {
  width: 100%;
  height: 290px;
  background: url("/ND/img/užduotis\ 2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
p {
  font-size: 1.2em;
}
.container div:first-of-type p {
  margin-top: 17px;
}
