* {
  margin: 0;
  padding: 0;
}
section {
  margin: 50px auto;
  width: 640px;
  display: grid;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
div {
  background: #2a89eb;
}
section div:nth-last-of-type(1) {
  grid-row: 1;
  grid-column: 1/3;
}
section div:nth-last-of-type(2) {
  grid-row: 1/3;
  grid-column: 3;
}
section div:nth-last-of-type(3) {
  grid-row: 2/4;
  grid-column: 1;
}
section div:nth-last-of-type(4) {
  grid-row: 3/4;
  grid-column: 2/4;
}
