* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  padding: 0 20px;
}
p {
  margin-top: 80px;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}
/* flex */
section:nth-of-type(1) {
  max-width: 900px;
  margin: auto;
  display: flex;
  height: 400px;
  flex: 1;
  overflow: hidden;
  color: white;
}

section:first-of-type > section {
  margin-top: 20px;
}
section:nth-of-type(1) > section:last-of-type {
  margin-left: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
section:nth-of-type(1) section:nth-of-type(2) section {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
}
section:nth-of-type(1) section div:first-of-type {
  height: 50%;
}
section:nth-of-type(1) section:first-of-type div {
  height: 100%;
}
section:nth-of-type(1) div {
  background: #ff6247;
}
section:nth-of-type(1) section div {
  width: 100%;
}
section:nth-of-type(1) section:nth-of-type(2) section div:first-of-type {
  margin-right: 20px;
}
/* grid */
body > section:nth-of-type(2) {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 190px;
  gap: 20px;
  max-width: 900px;
}
body > section:nth-of-type(2) div {
  background: #add8e7;
}
section:nth-of-type(2) div:nth-of-type(1) {
  grid-row: 1/3;
  grid-column: 1/3;
}
section:nth-of-type(2) div:nth-of-type(2) {
  grid-row: 1/2;
  grid-column: 3/5;
}
section:nth-of-type(2) div:nth-of-type(3) {
  grid-row: 2/3;
  grid-column: 3/4;
}
section:nth-of-type(2) div:nth-of-type(4) {
  grid-row: 2/3;
  grid-column: 4/5;
}
